*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #2F303A;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    height: 100vh;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
}

.link-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-name{
    font-size: 1.5rem ;
    margin-left: 1rem;
}


.list-link{
    display: flex;
    list-style: none;
}

.link{
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    font-size: 1.3rem;
}

.link-logo:hover, .link:hover{
    color:#e0d1d1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.full-fit-page{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.main-section{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

